@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

html{
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: url(https://lh3.googleusercontent.com/4I4XB51OZpQL-JuSUcd8yrchFvAXJrK405d6CtVX9hXOqAC4vFTeuwFACbVzPSCOEeRtMHlLqA33rvlcnGb3FPTSfOuusljfWH9sf1U45Aaq=rw-e365-w1800?fbclid=IwZXh0bgNhZW0CMTEAAR2TxEu1BdliKQSKJLTE8DUXEILd7O09Y1yt_eS3iBUTdu9Q2OPxzRAKgq0_aem_F_cwhONFBFvMUgAJoElpJA);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.navbar {
  background-color: #a2db95;
  color: #2f2f2f;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
  font-weight: 600;
}

.navbar-pokemon {
  text-decoration: none;
  padding: 10px;
}

li {
  font-size: 20px;
}

#poke-logo {
  height: 7rem;
}

.web-store h1 {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  padding: 10px;
  text-shadow: 0 0 10px #0000003b;
}

.web-store {
  text-decoration: none;
}

.active a{
  color: rgb(240, 234, 234);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.377);
}

.sign-in,
.sign-up {
  margin-left: 10px;
 border-radius: 30px;
}

.dropdown-toggle {
  background-color: transparent;
  color: #2f2f2fd7;
  font-size: 20px;
  border: none;
  justify-content: left;
  border-bottom: 0;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 0;
}

.dropdown-toggle:hover {
  background-color: #24ccaa;
  color: white;
}

/* header end */

/* footer */

footer {
  background: rgb(50, 85, 116);
  background: linear-gradient(345deg, rgba(50, 85, 116, 1) 0%, rgba(134, 203, 118, 1) 165.78%);
  border-radius: 3rem 3rem 0 0;
  color: white;
}

footer p {
  font-weight: 600;
  padding-left: 2.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.footer-links {
  color: white;
}

.footer-links:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
  color: #F1B72C;
  font-weight: 700;
  text-shadow: 0 0 10px;
}


.email-input {
  border-radius: 50px 0 0 50px;
  padding-left: 1.5rem;
  height: 3rem;
}

.email-letter {
  padding-left: 2rem;
  position: relative;
  margin-right: 2rem;
}

.email-letter button {
  border-radius: 0 50px 50px 0;
  width: 5rem;
  border: 1px solid white;
  background-color: #0d6efd;
  color: white;

}

.copyright p {
  font-size: 1rem;
  margin-right: 5rem;

}

@media (max-width: 575px) {
  .email-input {
    width: 25vh;

  }
}


@media (max-width: 768px) {


  .navbar-pokemon {
    padding-top: 1rem;

  }

  #poke-logo {
    height: 4rem;
  }

  .web-store h1 {
    font-size: 2rem;
    padding: 0;
  }

  .sign-in,
  .sign-up {
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 1rem;

  }

  .intro {
    margin-left: 0px;
  }

  .intro-text {
    font-size: 2.5rem;
  }

  .intro p {
    font-size: 1rem;
  }


  .shop,
  .feature {
    height: 2.5rem;
    font-size: 1rem;
  }

  .festival,
  .box-link-about,
  .box-link-play {
    font-size: 1.5rem;
    height: 20vh;
  }

  .container-ad {
    margin-top: 3rem;
  }

  .download-buttons {
    display: grid;
    place-items: center;
  }
}

@media (max-width: 1320px) {
  .navbar-pokemon {
    padding-top: 1;
  }

  #poke-logo {
    height: 4rem;

  }

  .web-store {
    font-size: 2rem;
    padding: 0;
  }

  .intro {
    margin-left: 1rem;
  }

  .intro p {
    font-size: .5rem;
  }

  .intro-text {
    font-size: 2rem;
  }

  .shop,
  .feature {
    height: 2.5rem;
    font-size: 1rem;
  }


  .sign-in,
  .sign-up {
    border-radius: 30px;
    font-size: 1rem;
  }

}

@media (max-width: 1500px) {
  .intro {
    margin-left: 0px;
  }

  .intro-text {
    font-size: 3rem;
  }

  .intro p {
    font-size: 2rem;
  }

  .shop,
  .feature {
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 2rem;
  }
}

/*footer end*/

#pokemonGo_logo {
  height: 8rem;
  margin-bottom: 20px;
  margin-right: 20px;
}

.container-md {
  padding: 15px;
}

.container-ad {

  background: rgb(36, 204, 170);
  background: linear-gradient(324deg, rgba(36, 204, 170, 1) 44%, rgba(162, 219, 149, 1) 100%);
  color: white;
}


.download-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.download-buttons a {
  display: inline-block;
}

#download1,
#download2,
#download3 {
  height: 45px;
  max-height: fit-content;
  transition: transform 0.3s ease-out;
}

#download1:hover,
#download2:hover,
#download3:hover {
  transform: scale(1.1);
}

.bg_about {
  background-image: url("https://lh3.googleusercontent.com/4I4XB51OZpQL-JuSUcd8yrchFvAXJrK405d6CtVX9hXOqAC4vFTeuwFACbVzPSCOEeRtMHlLqA33rvlcnGb3FPTSfOuusljfWH9sf1U45Aaq=rw-e365-w1800");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_cards {
  background-image: url("https://lh3.googleusercontent.com/4I4XB51OZpQL-JuSUcd8yrchFvAXJrK405d6CtVX9hXOqAC4vFTeuwFACbVzPSCOEeRtMHlLqA33rvlcnGb3FPTSfOuusljfWH9sf1U45Aaq=rw-e365-w1800");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_cards .container {
  max-width: 950px;
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  margin: 90px 0px;
}

.info-img-top {
  width: 100%;
  height: 268.5px;
  max-height: max-content;
  object-fit: cover;
  border-radius: 0px 0px 0px 0px;
}

#info-img-tops {
  height: 307.5px;
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 10px 10px 45px 10px;
}

.cards {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 45px;
}

.card:hover {
  transform: scale(1.05);
  border: 1.5px solid #F1B72C;

}

.card:hover .card-title {
  color: #F1B72C;
  border: 1.5px solid #F1B72C;

}



.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-body {
  padding: 0px;
}

.card-title {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
  background-color: #60c3AE;
  color: white;
  padding: 10px 30px;
}

.card-description {
  color: white;
  padding: 20px 30px;
  background-color: #158D73;
  border-radius: 0 0 15px 15px;
  text-align: justify;
}

.info-title {

  margin: 0px -30px;
  background-color: #60c3AE;
  padding: 1px 20px;
}

.info-text {
  margin: 0px -30px;
  padding: 1px 20px;
  background-color: #158D73;
}

.textt {
  text-align: justify;
  margin: 30px;
  padding: 10px;
  color: white;
}

.titlee {
  margin: 15px;
  display: flex;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: justify;

}

.titles {
  margin: 15px;
  display: flex;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: justify;

}

.texts {
  text-align: justify;
  margin: 30px;
  padding: 10px;
  color: white;
}

.register {
  width: auto;
  text-align: right;
  margin: 0px 25px 18.5px 0px;
  padding: 0px 10px;

}


.sign-btn {
  color: white;
  background-color: #F1B72C;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.sign-btn:hover {
  background-color: #284858;
  color: #F1B72C;
  border: 1px solid #F1B72C;
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .container-md {
    padding: 10px;
  }

  .download-buttons {
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 768px) {
  .text-left {
    text-align: center !important;
  }

  .download-buttons {
    align-items: center;
  }


}

@media (max-width: 875px) {

  #info-img-tops {
    height: 331px;
  }

  .info-img-top {
    width: 100%;
    height: 268.5px;
  }



}

@media (max-width: 839px) {


  .info-img-top {
    width: 100%;
    height: 292.5px;
  }



}



@media (max-width: 475px) {
  .register {
    align-self: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;


  }



}


.col-md-6 {
  padding: 0 10px;
  margin-bottom: 10px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.carousel {
  width: 100%;
  overflow: hidden;
}

.card_link {
  text-decoration: none;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

.card_link:hover {
  text-decoration: none;
}

.text-center {
  font-weight: bold;
}