@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
/* .banner-in {
    display:flex;

} */
.banner {
   
    background-color: #F1B72C;
    border-radius: 0 0 20px 20px;
    box-shadow: gray 0px 0px 30px -12px;
}
.second-in {
    background-color: #158D73;
}

.third-in {
    background-color: #F1B72C;
}

.pokecoins-banner

.h1banner {
    font-size: 3rem;
    font-weight: bold;
    color: #158D73;
    text-shadow: 1px 1px 1px #158D73;
    padding-top: 35px;
    
}

.h5banner {
    color: #158D73;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    margin-left: 3.5rem;
}

.headerbanner {
    text-align: left;
}

.pokemongofest {
    height: 160px;
    /* padding-bottom: 15px;
    margin-left: 250px; */
}

.updateshape {
    background-color: #158D73;
    width: 250px;
    height: 50px;
    margin-left: 1050px;
    border-radius: 0px 0px 20px 20px;
}

.numberpokecoins {
    padding-top: 10px;
}

.pokecoinsupdate, .pokecoinstext {
    font-size: 12px;
    font-weight: bold;
}

.pokecoinsupdate {
    padding-left: 10px;
}

.shoppingcart {
    padding-top: 10px;
}

.shoppingcarticon {
    height: 20px;
}

.wspaceHeader {
    height: 20px;
}

.pokecoins {
    height: 1000px;
    background-color: #158D73;
    box-shadow: gray 0px 0px 30px -12px;
    border-radius: 20px;
}

.headerPokecoins {
    height: 200px;
}

.h1pokecoins {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding-top: 65px;
}

.shop {
    height: 400px;
}

.products {
    height: 400px;
}

.wspaceproduct {
    height: 400px;
}
.boxes {
    display: flex;  
    justify-content: space-around;
}
.box {
    background-color: #158D73;
    width: 17em;
  

    box-shadow: inset black 0px 0px 16px -12px;
    border-radius: 50px;
    transition: background-color 0.4s ease;
}

.db-boxes {
    display: flex;  
    justify-content: space-evenly;
}

.dbbox {
    background-color: #F1B72C;
    width: 17em;

    box-shadow: inset black 0px 0px 16px -12px;
    border-radius: 50px;
    
    transition: background-color 0.4s ease;
}

.dbbox:hover {
    background-color: #158D73;
    box-shadow: outset black 0px 0px 50px -12px;

    .db-title-box {
        color: #F1B72C;
    }

    .db-buynow {
        background: #F1B72C;
    }
}

.buttons {
    font-size: 10px !important;
}

.box:hover {
    background-color: #F1B72C;
    box-shadow: outset black 0px 0px 50px -12px;
}

.box:hover .price {
    color: #158D73;
}

.db-title-box {
    color: #158D73;
}

.db-buynow {
    background-color: #158D73;
    border: none;
    font-weight: bold;
 
    border: 2px solid #FFFFFF;
    transition: background-color 0.4s ease;
}



.db-text-box {
    font-size: 11px;
}

.box:hover .buynow {
    background-color: #158D73;
}

.inline {
    display: inline;
    font-style: italic;
    font-weight: bold;
}

.block {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
}

.price {
    color: #F1B72C;
}

.pokecoins-text {
    color: #FFFFFF;
}

h6 {
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 5px;
}

p {
    font-size: 10px;
    color: #FFFFFF;
}

.pokecoinsimg {
    height: 5rem;
    margin-left: 12px;
}

button {
    font-style: italic;
    border-radius: 20px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.addtocart {
    border: none;
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.addtocart:active {
    box-shadow: inset #158D73 0px 0px 30px -12px;
}

.buynow {
    border: none;
    font-weight: bold;
    background-color: #F1B72C;
    border: 2px solid #FFFFFF;
    transition: background-color 0.4s ease;
}

.buynow:active {
    box-shadow: inset #F1B72C 0px 0px 40px -12px;
}

.twohundred {
    margin-bottom: 9px;
}

.origprice {
    text-decoration: line-through;
    color: #AEAEAE;
}

.dailybundles {
    background-color: #F1B72C;
    padding-bottom: 100px;
    box-shadow: gray 0px 0px 30px -12px;
    border-radius: 20px 20px 0px 0px;
}

.coin {
    height: 20px;
}



.boostbox {
    height: 100px;
}

.dbtitle {
    color: #158D73;
}

/* .dbbox {
    background-color: #F1B72C;
    box-shadow: inset black 0px 0px 16px -12px;
    border-radius: 50px;
    transition: background-color 0.4s ease;
} */

.voyagerbox {
    background-color: #F1B72C;
    width: 300px;
    height: 350px;
    margin-top: 50px;
    padding-top: 20px;
    box-shadow: inset black 0px 0px 16px -12px;
    border-radius: 50px;
    transition: background-color 0.4s ease;
}

/* 
.dbbox:hover .dbtitle, .voyagerbox:hover .dbtitle {
    color: #F1B72C;
}

.dbbox:hover .buynow, .voyagerbox:hover .buynow {
    background-color: #F1B72C;
}

.voyager {
    font-size: 10px;
    margin-top: 5px;
}

.dbaddtocart:active {
    box-shadow: inset #F1B72C 0px 0px 30px -12px;
}

.dbbuynow {
    border: none;
    font-weight: bold;
    background-color: #158D73;
    border: 2px solid #FFFFFF;
    transition: background-color 0.4s ease;
}

.dbbuynow:active {
    box-shadow: inset #F1B72C 0px 0px 40px -12px;
}
/* 
@media (max-width: 768px) {

    .banner {
        height: 20px;
        background-color: #F1B72C;
        border-radius: 0 0 20px 20px;
        box-shadow: gray 0px 0px 30px -12px;
    }

    .h1banner {
        font-size: 4rem;
        padding-top: 25px;
    }

    .headerbanner {
        margin-right: 0;
    }

    .pokemongofest {
        margin-left: 0;
        text-align: center;
    }

    .updateshape {
        width: 200px;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .pokecoins {
        height: auto;
        padding: 20px;
    }

    .h1pokecoins {
        font-size: 40px;
        padding-top: 45px;
    }

    .box {
        width: 250px;
        height: 250px;
    }
}

/* Adjust for mobile phones */
/* @media (max-width: 480px) {
    .h1banner {
        font-size: 3rem;
        padding-top: 15px;
    }

    .updateshape {
        width: 150px;
    }

    .h1pokecoins {
        font-size: 30px;
        padding-top: 35px;
    }

    .box {
        width: 200px;
        height: 200px;
        margin-top: 30px;
        padding-top: 15px;
    }

    .pokecoinsimg {
        height: 80px;
        margin-left: 0;
    }

    button {
        font-size: 12px;
        padding: 5px;
    }
}  */