body {
    background: url("assets/background.jpg") no-repeat center center;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container1 {
    padding: 20px;
    color: white;
    text-shadow: -1px -1px 17px rgba(0,0,0,0.57);
    border-radius: 10px;
    
}

.container1 h1 {
    font-size: 2.5rem;
    margin: 0;

}

.container1 p {
    font-size: 1.5rem;
    margin: 0;
}




.restaurant-card {
    cursor: pointer;
    transition: transform 0.3s;
}

.nice{
    padding-left: 15rem;
}

.restaurant-card:hover {
    transform: scale(1.05);
}

.details-overlay {
    display: none;
    position: fixed;
    top: 30;
    right: 14rem;
    width: 61%;
    height: 55%;
    color: black;
    background: rgba(122, 61, 61, 0);
    justify-content: center;
    align-items: center;
    padding: 6rem;
    z-index: 1000;
    
}

.details-card {
    display: hidden;
    background: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: left;
    position: absolute;
    place-items: end;
}
