body{
    font-family: Arial, sans-serif;
    background-color: #ebe1e1;
    color: #0a0a0a;
    text-align: justify;
}

header{
  background-color: rgb(255, 255, 255) ;
  margin-bottom: 20PX;
  padding-left: 30px;
}
  